<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="conatiner">
      <a routerLink= "/" class="navbar-brand">
      <img src={{logo}} width="50" height="50" /> DMI
      </a>
      <button class="navbar-toggler" type="button" data-toggle= "collapse" data-target= "#navbarMain">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collpase navbar-collapse" id= "navbarMain">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink= "/" class="nav-link">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  